{%extends "index.html"%}
{%block body%}
<div class="container">
    <div class="container">
        <h1 class="text-center alert alert-info m-2">Registration Form</h1>
        <div class="container text-center">
            <a href="/login" class="btn btn-info">Already Register?</a>
            </div>
        <form method="post">
            {%csrf_token%}
            {%for i in form%}
            {{i.label_tag}} {{i}} {{i.errors}}
            {%endfor%}
            <div class="container mt-2">
                <button class="btn btn-primary" style="width: 200px;">Registration</button>
                <!-- <a href="" ></a> -->
            </div>
        </form>
        
    </div>
</div>
{%endblock body%}